<p-dataTable [value]="pessoas" [paginator]="true" [rows]="filtro.itensPorPagina" [responsive]="true"
[lazy]="true" [totalRecords]="totalRegistros"
      (onLazyLoad)="aoMudarPagina($event)" emptyMessage="Nenhum lançamento encontrado">
        <p-column field="nome" header="Nome"></p-column>
        <p-column field="cidade" header="Cidade"></p-column>
        <p-column field="estado" header="Estado" styleClass="col-data"></p-column>

        <p-column field="ativo" header="Status"  styleClass="col-valor">
          <ng-template let-pes="rowData" pTemplate="body">
                <a href="javascript:;" [pTooltip]="pes.ativo ? 'Desativar' : 'Ativar'"
                    tooltipPosition="top">
                  {{ pes.ativo ? 'Ativo' : 'Inativo' }}
                </a>
            </ng-template>

        </p-column>
        <p-column styleClass="col-acoes">
          <ng-template pTemplate="body">
            <a pButton icon="fa-pencil" pTooltip="editar" tooltipPosition="top"></a>
            <Button pButton icon="fa-trash" pTooltip="apagar" tooltipPosition="top"></Button>
          </ng-template>

        </p-column>
      </p-dataTable>
